
.slider-left{
    position: relative;
    height: 400px;
    margin: auto;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;

 .slider-left-track{
        display: flex;
        align-items: center;
        width: calc(500px * 10);
        flex-direction: row-reverse;
        animation: scroll 40s linear infinite reverse;

        &:hover{
            animation-play-state: paused;
        }
        .slide-left{
            height: 350px;
            width: 500px;
            padding: 15px;
            perspective: 100px;
            img{
                height: 100%;
                transition: transform 1s;
                &:hover{
                    transform: translateZ(20px);
                }
            }
            
        }
    }
}

@keyframes scroll{
    0%{
        transform: translateX(calc(-500px * 9));
    }
    100%{
        transform: translateX(0);
    }
}